.team-card{
    text-align: center;
    border-right: 20px solid #F4F6FC;
    background: white;
    padding: 48px 0px;
}
.team-card h5{
    padding-top: 30px;
   color: #1D2130;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;


}
.team-card h6{
 
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  
    
}


@media (min-width: 768px) and (max-width: 992px){
    .team-card {
        margin-bottom: 30px !important;
    }
}